* {
    font-family: Inter;
}
.logo{
   margin-right: 20px;
    
}
.emptyplace{
    width: 753px;
    height: 54;
    border-radius: 20px;
    border: 2px solid #114b6b;
    background: #FFFFFF;
    margin-top: 70px;
}
.center1{
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}
.Search{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
}
.Search form{
    display: flex;
    justify-content: center;
    
}
.Search:after {content:""; clear:both; display:table}
.Search input {
    width: 400px;
    height: 35px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #114b6b;
    background: #FFFFFF;
    outline: none;
    position: relative;
    transition: .3s linear;
    font-family: Inter;
    
}
.Search button {
    background: #114b6b;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 5px;
  margin-top: -2px;
  }
  .Search button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #114b6b;
  }
.Search select{
    width: 200px;
    height: 35px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #114b6b;
    background: #FFFFFF;
    margin-top: -16px;
    color: #808080;
}
.button1{
    margin-top: -16px;
   
}
.open{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 70px;
}
.prof{
    width: 50px;
    height: 50px;
    border-radius: 42px;
    border: 2px solid #114b6b;
    background: #FFFFFF;
}
.enter{
    margin-top: 8px;
    background-color: #114b6b;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    width: 55px;
    height: 25px;
}

.emptyplace-1{
    width: 320px;
    height: 1060px;
    border-radius: 20px;
    border: 2px solid #114b6b;
    background: #FFFFFF;
    margin-top: 60px;
}
.emptyplace-2{
    width: 300px;
    height: 54px;
    border-radius: 20px;
    border: 2px solid #114b6b;
    background: #FFFFFF;
    margin: 7px;
}
.word-1{
    color: #2d7ca8;
    font-family: Inter;
    display: flex;
    margin-top: 12px;
    margin-left: 20px;
    
}
.subject_matter {
    color: #114b6b;
}
.checkbox {
    margin-left: 10px;
}
