* {
    font-family: Inter;
}

.emptyplace-1{
    width: 320px;
    height: 1060px;
    border-radius: 20px;
    border: 2px solid #114b6b;
    background: #FFFFFF;
    margin-top: 60px;
}
.emptyplace-2{
    width: 300px;
    height: 54px;
    border-radius: 20px;
    border: 2px solid #114b6b;
    background: #FFFFFF;
    margin: 7px;
}
.word-1{
    color: #2d7ca8;
    font-family: Inter;
    display: flex;
    margin-top: 12px;
    margin-left: 20px;
    
}
.subject_matter {
    color: #114b6b;
}
.checkbox {
    margin-left: 10px;
}
